<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>GOATmemes - Lost</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/9b95c05968.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/gossets/css/style.css">
    <link rel="icon" href="/static/images/gm.png">


</head>
<body>
    <!--classes are used same as login page since it same to login page-->
    <!-- forgot page -->
    <section class="login-page">
        <!-- forgot page nav -->
        <nav class="login-page-nav">
            <ul>
                <li class="brand"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="developers"><i class="fas fa-question"></i> About</a></li>
            </ul>
        </nav>
        <!-- end of forgot page nav -->

        <!-- forgot -->
        <div class="login">
            <div class="login-content">  <!--wrapper of heading and form-->
                <h2>GOAT Lost</h2>
                <form class="login-form">
                    <input type="email" placeholder="Email" class="login-useer-info" required>
                    <div>
                        <button type="button" class="login-form-btn">Send Mail</button>
                    </div>
                </form>
            </div>

                <footer class="login-footer">
                    <p>New GOAT?<a href="signup"> Click here to Sign Up</a></p>
                </footer>
            
        </div>
        <!-- end of forgot -->

        <!-- forgot modal -->
        <div class="login-modal">
            <i class="fas fa-times"></i>
            <p>Wrong Credentials!!!</p>
        </div>
        <!-- end of forgot modal -->

    </section>
    <!-- end of forgot page -->
    
</body>
<script src="/static/gossets/js/script.js"></script>   

</html>