<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>GOATmemes - Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/9b95c05968.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/gossets/css/style.css">
    <link rel="icon" href="/static/images/gm.png">
    <script>
        function submitf(){
            let form = document.getElementById("formm")
            form.submit();
        }
    </script>
</head>
<body>
    <!-- login page -->
    <section class="login-page">
        <!-- login page nav -->
        <nav class="login-page-nav">
            <ul>
                <li class="brand"><a href="#"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-question"></i> About</a></li>
            </ul>
        </nav>
        <!-- end of login page nav -->

        
        <!-- login -->
        <div class="login">
            <div class="login-content">  <!--wrapper of heading and form-->
                <h2>GOAT Login</h2>
                <form class="login-form" action="" method="post" id="formm" enctype="multipart/form-data">
                    {% csrf_token %}
                     <input type="hidden" name="csrfmiddlewaretoken" value="pHK2CZzBB323BM2Nq7DE2sxnQoBG1jPl" disabled="">
                     <h3 style="color: #ff0000">{{ mes }}</h3>
                    <input type="text" placeholder="Email" class="login-useer-info" required name="email">
                    <input type="password" placeholder="Password" class="login-password" required name="password">
                    <div>
                        <button type="button" class="login-form-btn" onclick="submitf()">Log In</button>
                        <input type="checkbox" class="login-form-checkbox" id="check">
                        <label for="check">&nbsp;Remember me</label> <!--for should be id of other element to link--><br><br>
                        <a href="forgot">Forgot Password?</a>
                    </div>
                </form>
            </div>

                <footer class="login-footer">
                    <p>New GOAT?<a href="signup"> Click here to Sign Up</a></p>
                </footer>
            
        </div>
        <!-- end of login -->

        <!-- login modal -->
        <div class="login-modal">
            <i class="fas fa-times"></i>
            <p>Wrong Credentials!!!</p>
        </div>
        <!-- end of login modal -->

    </section>
    <!-- end of login page -->
    
</body>
<script src="/static/gossets/js/script.js"></script>   

</html>